.sideBar svg:hover {
  cursor: pointer;
}
.sidebarContent {
  transition: 600ms !important;
}
.width-custom__hr {
  width: 16rem !important;
  display: block !important;
}
@media screen and (max-width: 1024px) {
  .sidebarContent {
    display: none;
  }
}
