.ldrp_box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  grid-column: 2/3;
}
.ldrp_box .logo img {
  width: 14.8444rem;
  height: 5.9669rem;
}
.ldrp_box .text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  width: 22rem;
  line-height: 2.5rem;
}
